/*css cascada*/
body {
	background: #ecedf0;
	width: 100%;
}

html {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
}

body {
	color: #777;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 22px;
	margin: 0;
	font-size: 13px;
}

a {
	color: #CCC;
}